
 #calendar {
    margin: 0 auto;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px; 
}

[appcode=calendar] .fc-toolbar { display: none; }

[appcode=calendar] .fc-row.fc-widget-header table thead th {
    text-align: center;
    text-transform: capitalize;
}

[appcode=calendar] #calendar .fc-content {
	cursor: pointer;
}

[appcode=calendar] .fc-event {
    padding: 4px 0px;
}

[id*=calendar]:not([id*=addEventToCalendar]) .modal-header [data-dismiss] {
    display: none;
}

#modalincluir .double-input .form-control {
    width: 50% !important;
}

.modal-title {
	padding-left: 20px!important;
}
#modalincluir .requiredField {
	border: 1px #e74c3c solid !important;
}

#modalincluir span.requiredField {
	border: none !important;
	color: #e74c3c;
}

.modal-content{
	
    width:  100vw !important;
}

.modal-body{
	width:  100vw !important; 
	overflow-y: hidden; 
}

.tab-content{
	border-bottom: 1px;
	border-left: 1px; 
	border-right: 1px;
}

a.addeventatc.theme2 {
    display: inline-block !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    text-align: center !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    border-radius: 4px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    color: #58595b !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}

[appcode=calendar] .fc-title { margin-left: 5px !important; }
